div.events {
    margin: 0 auto;
    padding: 20px 30px;
    background: transparent;
    p, a{
      color: $font_default;
      font-size: $font_size_default;
    }

    code {
      color: $font_accent_4;
      font-size: $font_size_code;
    }
    h1 {
        color: $font_accent_3;
        text-shadow: 0px 0px 1px black;
    }
    .headline a {
        color: $font_accent_3;
        font-size: $font_size_h2;
        text-shadow: 0px 0px 1px black;
        text-decoration: none;
    }
    .meta {
        color: silver;
        font-style: italic;
    }
    .blog-post {
        background: rgba(128,128,128,0.15);
        padding: 16px;
        margin-top: 50px;
        box-shadow: 0px 0px 2px 8px rgba(128,128,128,0.1);
    }
    h2 {
        color: $font_accent_3;
        text-shadow: 0px 0px 1px black;
    }
}
