footer {
    margin: 0 auto;
    background: $background_accent_2;
    padding: 20px 30px;
    font-size: $font_size_default;
    color: $font_default;
    text-align: center;
    a {
        color: $font_accent_4;
    }
    a:hover {
        color: $font_accent_3;
    }
}
