div.laend {
    margin: 0 auto;
    padding: 80px 30px;
    background: transparent;
    background-image: url("data:image/svg+xml,%3Csvg class='m-collage-slider__shape' style='fill: white;transform:translate3d(0px, 0.94vh, 0px) scale(0.9944, 0.99436)' version='1.1' viewBox='0 0 197 225' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m 76.453,18.472 c 5.242333,5.177667 10.484667,10.355333 15.727,15.533 11.5483,-4.771999 9.08096,-20.589384 17.58875,-28.4671905 8.884,-9.33701 24.1487,-6.6976834 34.76381,-1.9629234 9.69626,3.1041113 9.89034,14.9234899 18.26675,19.5768009 7.54541,4.821642 16.50709,11.10433 15.64744,21.248873 3.275,15.876878 13.0363,29.189351 18.37621,44.279784 -2.22399,12.835726 -7.26333,24.917136 -11.32133,37.231086 -8.01289,7.09756 -24.93004,13.5767 -15.68174,26.73414 3.07076,16.85677 10.12771,33.06257 10.21528,50.39667 -10.83283,8.06108 -23.32495,14.11012 -35.96755,18.50373 -14.91993,1.13145 -28.81802,-5.42609 -43.13104,-8.41486 -7.883033,-5.1901 -16.55931,-14.53852 -26.823196,-10.91762 -13.116671,6.71653 11.203726,15.64537 3.677813,22.92626 -16.107402,4.05011 -32.705663,-4.3089 -48.781583,-0.0845 -11.5044,2.02556 -26.1975855,-3.4471 -27.9155195,-16.3806 C 0.19384523,196.67074 4.8465957,185.01451 6.9322718,173.28944 11.257768,156.47835 12.349115,139.15771 14.526314,122.00872 15.059099,109.00248 25.896273,100.42001 34.994858,92.626203 42.750459,85.34786 53.727878,78.749279 55.042327,67.288995 58.124605,52.739914 60.384699,38.034313 63.243,23.442 c 3.112142,-3.732666 8.285095,-6.542601 13.21,-4.97z'/%3E%3C/svg%3E");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: auto;
    text-align: center;
    max-width: 80%;
    p {
        color: $font_default;
        font-size: $font_size_default;
    }
    code{
        color: $font_default;
        font-size: $font_size_h2;
    }
    a, a:link, a:visited, a:active {
        color: $font_default;
    }

    h1 {
        color: $font_accent_3;
        font-size: $font_size_h1;
        text-shadow: 0px 0px 1px black;
    }
    h2 {
        color: $font_accent_3;
        font-size: $font_size_h2;
        text-shadow: 0px 0px 1px white;
    }
    img {
        max-width: 40%;
        margin-top: 50px;
    }
}

@media (min-width: $large_view) {
    div.laend {
        margin: auto;
        max-width: $large_min_width;
        p {
            font-size: $font_size_default_large;
        }
        h1 {
            font-size: $font_size_h1_large;
        }
        h2 {
            font-size: $font_size_h2_large;
        }
        code{
            font-size: $font_size_h1;
        }
    }
}

@media (max-width: $mobile_view) {
    div.laend {
        max-width: 100%;
        p, a{
          font-size: $font_size_default_mobile;
        }
        code {
            font-size: $font_size_h2_mobile;
        }
        img {
            max-width: 60%;
        }
        h1 {
            font-size: $font_size_h1_mobile;
        }
        h2 {
            font-size: $font_size_h2_mobile;
        }
    }
}

@media (max-width: $tiny_view) {
    div.laend {
        p, a{
          font-size: $font_size_default_tiny;
        }
    }
}
