$background_accent_1: rgb(255,192,0);
$background_accent_2: $background_accent_1;
$menu_background_color: transparent;
$menu_background_dropdown_color: transparent;
$menu_accent_hover: white;
$menu_box_background: black;

$font_accent_1: black;
$font_accent_2: white;
$font_accent_2_hover: silver;
$font_accent_3: black;
$font_accent_4: black;
$font_default: black;
$font_menu: white;
$font_submenu: white;
$font_default_inverted: white;

$shadow_accent_1: rgba(0,0,0,1);
$font_size_default: 1.3em;
$font_size_default_large: 2.2em;
$font_size_default_mobile: 1em;
$font_size_default_tiny: 0.9em;
$font_size_default_pico: 0.7em;
$font_size_code: 1.6em;
$font_size_code_large: 2.6em;
$font_size_code_mobile: 1.1em;
$font_size_h1: 2.3em;
$font_size_h1_large: 4.5em;
$font_size_h1_mobile: 1.4em;
$font_size_h1_tiny: 1em;
$font_size_h1_pico: 0.8em;
$font_size_h2: 1.9em;
$font_size_h2_large: 3.2em;
$font_size_h2_mobile: 1.25em;
$font_size_h2_tiny: 0.9em;
$font_size_h2_pico: 0.75em;

$headline_font: 'EB Garamond';
$main_font: 'Epilogue';

$large_min_width: 1800px;

$large_view: 1920px;
$mobile_view: 980px;
$tiny_view: 450px;
$pico_view: 320px;

$the_laend_yellow: rgb(255, 255, 0);
$menu_text_transform: uppercase;
$hide_footer: true;
$show_mobile_menu: false;
