$background_accent_1: rgb(247, 196, 24 );
$background_accent_2: black;

$font_accent_1: red;
$font_accent_2: maroon;
$font_accent_3: orangered;
$font_accent_4: rgb(247, 196, 24 );
$font_default: white;

$font_size_default: 1.5em;
$font_size_default_mobile: 1.1em;
$font_size_default_tiny: 1em;
$font_size_default_pico: 0.8em;
$font_size_code: 1.7em;
$font_size_code_mobile: 1.3em;
$font_size_h1: 3em;
$font_size_h1_mobile: 1.5em;
$font_size_h1_tiny: 1em;
$font_size_h1_pico: 0.7em;
$font_size_h2: 2.3em;
$font_size_h2_mobile: 1.3em;
$font_size_h2_tiny: 1em;
$font_size_h2_pico: 0.75em;

$headline_font: 'Mochiy Pop One';
$main_font: 'Lato';

$mobile_view: 900px;
$tiny_view: 450px;
$pico_view: 320px;
